@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bad Script", cursive;
}

body {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  font-family: "Bad Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 0.1rem;
}

/* GAME CONTAINER */
.game-container {
  width: 60vw;
  height: auto;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 2%;
}
/* GAME SECTION */

#game {
  display: none;
}

.game-display-container {
  width: 100%;
  display: flex;
  align-items: center;
}

#hangman {
    max-width: 500px;
    margin-top: 100px;
    min-width: 240px;
    margin-top: 100px;
    min-width: 240px;
}

.game-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.words-container {
  display: flex;
  max-width: 500px;
}

.wrong-letters {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#diplay-wrong-letters {
  display: flex;
  font-size: 22px;
  gap: 10px;
}



h1 {
  letter-spacing: 0.5rem;
  cursor:pointer;
}

#display-player {
  position: absolute;
  right: 20px;
  top: 10px;
}

#title {
  text-transform: uppercase;
}

#title.moved {
  position: absolute;
  left: 20px;
  right: 0;
  top: 10px;
}

#game-options {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 22px;
  gap: 40px;
}

.game-options-name,
.game-options-category {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}
.game-options-action {
  margin: 0 auto;
}

/* Game letters */

.words-container {
  display: flex;
  max-width: 500px;
}

.game-letter-space {
  border: 0px;
  border-bottom: none;
  margin: 4px;
  width: 60px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.game-letter {
  border: 0px;
  border-bottom: 2px solid #000;
  margin: 4px;
  width: 60px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
